/* CSS Document */
@charset "utf-8";
													/*RESET*/
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

												/*GENERAL*/
#outof{
	color: red;
	font-size: 30px;
	padding-top: 50px;
}

.comment{
	text-align: center;
}

ul{
	list-style-position: inside;
}

li{
	color: black;
	font-size: 16px;
}

input{
	text-align: center;
}

.inline{
	display: inline-block;
	text-align: left;
}


													/*NAV*/

.nav{
	background: linear-gradient(to top right, blue, white);

	z-index: 50;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

}

.nav a{
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav img{
	width: 60px;
	height: 54.5px;
	float: left;
	padding: 0px;
}

.nav a:hover{
	color: yellow;

}

#fda{
	float: left;
}



												/*HEADER*/

#maintitle{
	font-size: 3.5em;
	padding-bottom: 50px;
	padding-top: 100px;
	text-align: center;
	color: black;
}

.header{
	margin: auto;
	background-image: url("images/illustration.jpg");
}




										/*INFORMATION*/


.inform{
	background: linear-gradient(to top right, blue, white);
	color: black;
	font-size: 18px;
	padding-top: 45px;
	text-align:center;
}

.inform h1{
	color: black;
	padding-bottom: 20px;
}


.dropd{
	color: black;
}

.input-color{
	color: black;
}


.inform .btn{
	margin-right: 10px;
	margin-bottom: 20px;
}

											/*SHOW READINESS*/



.showreadiness{
	background-color: grey;
	padding-bottom: 50px;
	padding-top: 40px;

}

.showreadiness h1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	color: black;
}


.showreadiness h4{
	color: black;
	text-align: center;
}

.showreadiness .col{
	border-style: solid;
	border-width: 2px;
	text-align: center;
	padding: 20px;
	margin-bottom:5px;

}

											/*ARTISTIC*/


.artistic{
	background: linear-gradient(to bottom right, grey, white);
	padding-top: 40px;
	padding-bottom: 20px;

}


.artskill .col{
	border-style: solid;
	border-width: 2px;
	text-align: center;
	margin: 40px;
	height: 350px;
	width: 500px;
	box-shadow: 10px 10px 5px #888888;
}


.artistic h1{
	padding-bottom: 40px;
	padding-top: 20px;
	color: black;
}

.artistic h4{
	color: black;
}

.artistic h2{
	color: black;
}


.artistic .col{
	padding-bottom: 50px;
	text-align: center;



}

												/*ACROBATIC*/

.acrobatic{
	background: linear-gradient(to bottom right, grey, white);
	padding-top: 45px;
	padding-bottom: 20px;
	text-align: center;
	color: black;
}


.acrobatic h1{
	padding-bottom: 40px;
	color: black;
}

.acroskill .col{
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	text-align: center;
	margin: 40px;
	padding: auto;
	height: 350px;
	width: 500px;
	box-shadow: 10px 10px 5px #888888;
}



											/*PROFESSIONAL*/

.prof{
	background: linear-gradient(to bottom right, grey, white);
	padding-top: 45px;
	padding-bottom: 40px;
	text-align: center;
}

.prof h1{
	color: black;
}

.all{
	background-color: blue;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.proskill{
	padding-left: 20px

}

.proskill ul{
	padding-left: 40px;
	font-size: 18px;
}



.prof .wrapper{
	text-align: center;
}


														/*FOOTER*/
.footer{
	background-color: blue;
	color: white;
	text-align: center;
}
